---
layout: archive
title: "Final Project"
permalink: /Final Project/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

Final Project
======
The aim of this project is to investigate if there is a correlation between local demographics and where flood zones occur. Are people of BIPOC communities at higher risk of living in 
flood zones than white communities? Does household income affect ones proximity to flood zones?

Work experience
======
* Aug 2020-Present: Associate Scientist
  * BioIVT, Maryland USA
  * Duties included: 
    * Fulfill researcher requests for custom cell and subcellular fration isolations
    * Oversee on-call teams for human tissue isolations for research
    * Lead team through training and implementation of organizational systems
    * Manage long-term projects for site goals

* Summer 2018: Intern
  * BioIVT, Maryland USA
  * Duties included: 
    * Dissected biological structures for tissue isolation for research institues
    * Prepared media and protocols for shipment of fresh bilogical tissues to research institues

* Summer 2017: Intern
  * Raritan Headwaters, New Jersey USA
  * Duties included: 
    * Supervised soil and water sample collection from several locations for watershed stream monitoring program
    * Investigated microplastic concentrations from WWTP effluent into streams and salamander population study
  
Skills
======
* Environmental Science
  * Air, water, and soil sampling and monitoring
  * Envronmental Impact Assessment education
  * Hydrogeology and hydraulic testing
  * Soil coring
* Lab Skills
  * GLP in Biosafety Level-2
  * Spectrophotometry
  * AAS
  * Nitrogen Kjeldal Analysis


Research
======
  Loonse en Drunense Duinen National Park, Netherlands
    * Investigated current eutrophication within an inland dune system in the Netherlands, working closely with local government,
Dutch National Institute for Public Health &amp; the Environment, and Loonse en Drunense Duinen National Park management.
Mapped areas of the park with a drone and took soil and groundwater samples. Outlined areas susceptible to further
eutrophication and potential park mitigation plans.

Microplasic Study
  *Investigated the effects of microplastics on freshwater microalgae growth. Experiments conducted in vitro.
  
Exchange Program to Japan
======
  Interviewed and selected for the visitation to the Japanese island of Shikoku, continuing the Rotary initiative of maintaining
strong relations between the US and Japan.
